
<h1 class="no-padding">Upload Student Roster</h1>

<div class="panel-group">
    @using (Html.BeginForm("UploadFile", "Roster", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-3">
                    <label for="file">Upload a CSV File: </label>
                    <input type="file" name="file" id="csv-file" />
                </div>

                <div class="col-xs-3 pull-left">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                </div>
            </div>
        </div>
    }

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="no-padding">Required Format</h3>
        </div>
        <div class="panel-body">
            <h3>Sample Data</h3>
            <table class="table-bordered col-xs-12">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>ID</th>
                        <th>SIS Login ID</th>
                        <th>Section</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Smith</td>
                        <td>121325678</td>
                        <td>Johsmith</td>
                        <td>SP17-SE-CSCI-C458-32372</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

