
@using Lager.Models
@model User
@{
    ViewBag.match = false;
}

<h2>Add User</h2>
<div class="form-group">
    @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post))
    {
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })

        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Username" })

        <input id="pswd1" class="form-control" type="password" placeholder="Password" />
        <input id="pswd2" class="form-control" type="password" placeholder="Confirm Password" />

        <div id="create-user-val-msg" style="display:none">
            @if (ViewBag.match == true)
            {
                <div class="alert alert-success">
                    Passwords match!
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    Passwords don't match.
                </div>

            }
        </div>

        <div class="col-xs-6 pull-left">
            <input class="btn btn-success @(ViewBag.match ? "" : "disabled")" type="submit" />
            <input class="btn btn-warning" type="reset" />
        </div>
    }
</div>

