@using Lager.Models
@model Lager.Models.Part
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] = Create</title>
</head>
<body>


    <div class="jumbotron" style="background-color:lightblue">
        <div class="container">
            <div class="page-header">
                <h1>Lager <small>your inventory solution.</small></h1>
            </div>
        </div>
    </div>

    <div>
        @Html.Partial("PartialViews/_partialCreate", Model)
    </div>
</body>
</html>