<!--

//(at sign curly brace)
//    ViewData["Title"] = "Add New";
//}

<div><h1>Add New Part</h1></div>
<h2>Complete the form below to add a new part to the database.</h2>


<div class="container">
    <form>

        <div class="form-group">
            <label for="itemName">Name:</label>
            <input type="text" class="form-control" id="itemName">
        </div>

        <div class="form-group">
            <label for="pwd">Category:</label>
            <input type="text" class="form-control" id="category">
        </div>

        <div class="form-group">
            <label for="owner">Owner:</label>
            <input type="text" class="form-control" id="owner">
        </div>

        <div class="form-group">
            <label for="date">Date Purchased:</label>
            <input type="date" class="form-control" id="purchased">
        </div>

        <div class="form-group">
            <label for="dateDiscard">Discard Date:</label>
            <input type="date" class="form-control" id="dateDiscard">
        </div>

        <div class="form-group">
            <label for="cost">Purchase Price:</label>
            <input type="number" class="form-control" id="price">
        </div>

        <div class="form-group">
            <label for="vendor">Vendor:</label>
            <input type="text" class="form-control" id="vendor">
        </div>

        <div class="form-group">
            <label for="link">URL:</label>
            <input type="text" class="form-control" id="link">
        </div>

    </form>
</div>
-->

@using Lager.Models
@model Lager.Models.Part
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] = Create</title>
</head>
<body>


    <div class="jumbotron" style="background-color:lightblue">
        <div class="container">
            <div class="page-header">
                <h1>Lager <small>your inventory solution.</small></h1>
            </div>
        </div>
    </div>

    <div>
        @Html.Partial("PartialViews/_partialCreate", Model)
    </div>
</body>
</html>