@{
    ViewData["Title"] = "Dashboard";
}

<div><h1>Administrator Dashboard</h1></div>
<h2>Welcome Back!</h2>

<p>Server status: RUNNING</p>
<p>Day(s) Up: #</p>
<p>Total items in inventory: #</p>
<p>Total items checked out: #</p>
<p>Days since last login: #</p>