<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page-header">
        <h1>Lager <small>Inventory System</small></h1>
    </div>
    <div>
        @Html.Partial("_Login")
    </div>
</body>
</html>
