.login-box{
    width: 50vw;
    text-align: center;
    margin: auto;
}

.footer{
    bottom: 1px;
    left: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    height: 40px;
    border-top: 1px solid #cccccc;
    padding: 10px;
    margin: 0px;
    margin-top: 10px;
}

.page-header{
    padding: 20px;
    margin: 0px;
    margin-bottom: 50px;
}

body{
    margin-top: 55px;
}

.floating-form{
    position:absolute;
    width: 50vw;
    margin:auto;
    right: 0px;
    left: 0px;
    top: 100px;
    margin:auto;
    box-shadow: 0px 0px 20px black;
    margin-top: 100px;
}
.floating-form > .panel-body{
    padding: 50px;
}

.form-control{
    margin-bottom: 10px;
}

.btn{
    margin-bottom: 10px;
}

.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}

.page-nav-btn{
    cursor: pointer;
}

.table-header{
    cursor: pointer;
    font-weight: 600;
}

.incative-header > span{
    background-size: 10px;
}

#inventory-nav-btns{
    position: fixed;
    width: 100vw;
    background: white;
    bottom: 1px;
    left: 0px;
    right: 0px;
    padding-top: 35px;
    padding-bottom: 10px;

    background: -webkit-linear-gradient(bottom, rgba(255,0,0,0), rgba(200,200,200,1)); 
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(200,200,200,1)); 
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(200,200,200,1));
    background: linear-gradient(to bottom, rgba(300,300,300,.6), rgba(300,300,300,1)); 
}

.inventory-header{
    padding: 20px;
}

#inventory-table{
    margin-bottom: 150px;
}
